.note {
  grid-column: 2 / span 2;
  margin-top: 20px;
  position: relative;

  .title,
  .note-text {
    border: 0;
    margin: 0;
    padding: 0;
    resize: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .title {
    border-bottom: 1px solid #dedede;
    color: #323232;
    font-size: 22px;
    max-height: 30px;
  }

  .note-text {
    margin-top: 20px;
    min-height: 300px;
  }

  &-placeholder {
    align-self: center;
    grid-column: 2 / -1;
    justify-self: center;
  }

  .save-button {
    background: none;
    border: 1px solid #dedede;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
  }

  .delete-icon {
    position: absolute;
    bottom: 35px;
    cursor: pointer;
    right: 0;
    width: 20px;
  }
}