.note-list-wrapper {
  border: 1px solid #dedede;
  border-bottom: 0;

  grid-column: span 1;
  padding: 20px 0 0 10px;
  min-height: 50vh;

  > input {
    border-radius: 2px;
    border: 1px solid #dedede;
    height: 25px;
    margin-left: 15px;
    padding: 5px;
    width: 75%;
  }

  .search-message {
    display: block;
    font-size: 12px;
    margin: 20px 0 0 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;

  }

  li {
    border-bottom: 1px solid #dedede;
    padding: 15px;
    position: relative;
    cursor: pointer;

    &:hover {
      background: #FFF;
    }

    &.active {
      background: #fff;

      &:before {
        content: "";
        background: #303235;
        top: 0;
        bottom:0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 3px;
      }
    }

    > h4 {
      margin: 0;
      padding: 0;
      max-width: 90%;
    }

    > span {
      display: block;
      margin-top: 5px;
      max-height: 33px;
      overflow: hidden;
      font-size: 14px;
    }

    > time {
      color: #323232;
      top: 10px;
      right: 10px;
      font-size: 12px;
      position: absolute;
    }
  }
}