header {
  background: #303235;

  .header-content {
    padding: 10px 20px;
    color: #FFF;
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-family: Helvetica;
    font-weight: 400;
    font-size: 20px;
  }

  .create-note {
    display: flex;
    align-items: center;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    > img {
      margin-right: 5px;
      width: 20px;
    }
  }
}