body {
  margin: 0;
  background: #fafafa;
  font-family: Helvetica;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;

  margin: 0 auto;
  max-width: 1000px;
}